#include "base16-tomorrow.light.256.xresources"

Xft.autohint: 0
Xft.lcdfilter: lcdlight
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

XTerm.termName: xterm-256color
XTerm*locale: true
XTerm*faceName: Source Code Pro
XTerm*faceSize: 10
XTerm*metaSendsEscape: true
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*ttyModes: erase ^?
*VT100*translations: \
#override Meta <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY) \n\
          <Key>BackSpace: string(0x7f) \n\
          <Key>Delete: string(0x1b) string("[3~")

x11-ssh-askpass*Dialog.title: Authenticate
x11-ssh-askpass*shadowThickness: 0
x11-ssh-askpass*borderWidth: 0
x11-ssh-askpass*Button.borderWidth: 1
