#include "dotfiles/base16-zenburn.xresources"

Xft.dpi: 109
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

UXTerm.termName: xterm-256color
UXTerm*saveLines: 20000
UXTerm*locale: true
UXTerm*faceName: Source Code Pro
UXTerm*faceSize: 10
UXTerm*borderWidth: 0
UXTerm*metaSendsEscape: true
UXTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
UXTerm*ttyModes: erase ^?
*VT100*translations: \
#override Meta <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY) \n\
          <Key>BackSpace: string(0x7f) \n\
          <Key>Delete: string(0x1b) string("[3~") \n\
          Shift<Btn1Up>: select-end(CLIPBOARD, CUT_BUFFER1) \n\
          Shift~Ctrl~Meta<Btn2Up>: insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
          ~Shift<Btn1Up>: select-end(PRIMARY, CUT_BUFFER0) \n\
          ~Shift~Ctrl~Meta<Btn2Up>: insert-selection(PRIMARY, CUT_BUFFER0)

x11-ssh-askpass*Dialog.title: Authenticate
x11-ssh-askpass*shadowThickness: 0
x11-ssh-askpass*borderWidth: 0
x11-ssh-askpass*Button.borderWidth: 1
